[2021-08-29 19:19] matteodelabre commented on #422
~~Also, what is the system version of your device? This is the version number shown in the “General” settings panel.~~

[2021-08-29 21:04] matteodelabre commented on #422
I think the issue is that the latest nginx version, that I installed on the server this afternoon, broke compatibility with the native wget binary on the reMarkable. Could you confirm this by manually editing the `bootstrap` that you downloaded on your device (using `nano bootstrap`, for example)? You’d need to change line 84 and replace `https://` with `http://`, so that the whole line reads:

[c

[2021-08-30 16:33] moretea commented on #422
I can confirm that this fixed this error message for me.

[2021-08-30 20:48] hunt529 commented on #422
I can confirm that this fixed this error message for me.

[2021-08-30 21:04] sternj opened #424 "Connection to toltec-dev.org being automatically promoted to HTTPS"
It seems like even a connection on port 80 is unconditionally upgraded to an https connection on port 443-- I think that there's a mix up in your webserver!

Attached is a log; version of remarkable is 2.9.1.217. Please let me know if you need any further information!
[code]

[2021-08-30 21:11] matteodelabre commented on #424
Thanks @sternj for the report. I added an exception to the redirect for this URL.

[2021-08-30 21:11] #424 closed, assigned to nobody

[2021-08-30 21:16] matteodelabre commented on #422
Thank you both for testing. There is a fix in #423, just waiting for approval by the team.

[2021-08-31 10:07] francescodifilippo opened #426 "clean-path"
INFO:  Fetching secure wget
ERROR: Unexpected error on line bootstrap:96 in function wget-bootstrap
ERROR: This script failed to install. If you can't solve the above
       issue yourself, please report it at:

           <https://github.com/toltec-dev/toltec/issues>

       (Please also include these error logs to help solving the
       problem faster. Thank you!)
bootstrap: line 60: clean-path

[2021-08-31 10:16] matteodelabre commented on #426
Please see #422.

[2021-08-31 10:16] #426 closed, assigned to nobody

[2021-08-31 14:46] sternj commented on #424
This is also happening for http://toltec.delab.re/stable/Packages.gz

[2021-08-31 15:16] matteodelabre commented on #424
This should not be an issue since the bootstrap script uses a standalone version of wget that supports TLS to fetch that file.

[2021-09-01 07:46] norandom opened #429 "Install failure due to DL fail"
Hi,

some URLs seem to have changed.

[code]

Best,
random

[2021-09-01 11:43] matteodelabre commented on #429
Hi @norandom, did this happen while you ran the `bootstrap` script or did you have an existing install on which you ran `opkg update`? Are you using a rM1 or rM2? Also, what is your system version?

[2021-09-01 12:53] norandom commented on #429
On a brand new device.

`wget -O - http://raw.githubusercontent.com/Evidlo/remarkable_entware/master/install.sh | sh`

[2021-09-01 13:03] matteodelabre commented on #429
This is probably an issue for https://github.com/Evidlo/remarkable_entware then. Please try using the Toltec’s install script, with the current caveats detailed in #422.

[2021-09-01 19:12] norandom commented on #429
No, it's a brand new ReMarkable2 . I don't even get to boostrap and didn't have any luck with the proposed workaround.

[code]

[2021-09-01 19:46] matteodelabre commented on #429
What I mean is that you’re using a script that is not supported by Toltec, since it’s coming from the [Evidlo/remarkable_entware](https://github.com/Evidlo/remarkable_entware) repository. Please refer to [our website](https://toltec-dev.org/) for official install instructions. If you decide to keep using Evidlo’s script, please report any issues you encounter with that particular script to his rep

[2021-09-02 07:24] norandom commented on #429
Oh thanks for the help.

[2021-09-02 07:24] #429 closed, assigned to nobody

[2021-09-02 07:45] norandom opened #430 "Bootstrap fails on line 60 : clean-path: command not found"
Hey,

Seems the script misses a function?

[code]

[2021-09-02 08:04] matteodelabre commented on #430
Hi, thanks for the report. This is a known issue, please see #422.

[2021-09-02 08:04] #430 closed, assigned to nobody

[2021-09-02 12:46] matteodelabre commented on #422
A fix has just landed on the testing branch, and should reach the stable branch by next week. In the meantime, you can either  manually apply the diff from [my comment above](https://github.com/toltec-dev/toltec/issues/422#issuecomment-907872380) or download the [testing bootstrap script](https://raw.githubusercontent.com/toltec-dev/toltec/testing/scripts/bootstrap/bootstrap) and use it directly.

[2021-09-07 21:53] ClashTheBunny commented on #419
Looks similar to https://github.com/ddvk/remarkable2-framebuffer/issues/18#issuecomment-914522896

[2021-09-07 21:55] ClashTheBunny commented on #419
@jdkruzr, does this look like your problem?  If you leave it off and unplugged for a while, does it come up the first time with an IP and then not come back after successive reboots?

[2021-09-07 22:21] jdkruzr commented on #419
well, for one I'm not sure how I could tell whether it was "off" ;) how long should I leave it unplugged?

[2021-09-08 00:29] ClashTheBunny commented on #419
I would try it 12 hours later and it worked most times.

[2021-09-14 20:28] escondida commented on #255
For reference, the way Arch does it is by providing the _licenses_ package, which is part of the base install, and installs licenses to /usr/share/licenses/common. It is then up to packagers to check whether the licenses used by the package are among those provided, in which case it can be referenced in the package's build script and metadata by a name such as "GPL3" or "Apache" or what have you.

[2021-09-17 17:39] MN-company opened #433 "Error on line 60:"
INFO:  Fetching secure wget
ERROR: Unexpected error on line bootstrap:96 in function wget-bootstrap
ERROR: This script failed to install. If you can't solve the above
       issue yourself, please report it at:

           <https://github.com/toltec-dev/toltec/issues>

       (Please also include these error logs to help solving the
       problem faster. Thank you!)
bootstrap: line 60: clean-path

[2021-09-17 18:06] Eeems commented on #433
What is the command you are running?

[2021-09-17 18:43] MN-company commented on #433
The second:
echo  "9195122984700c76ccdc58e25d09d0fca486324e8fc55ba781f6e1b812cc186c  bootstrap" | sha256sum -c && bash bootstrap

[2021-09-17 19:36] Eeems commented on #433
And what is the first command you ran?

[2021-09-17 20:31] matteodelabre commented on #433
Duplicate of #422.

[2021-09-17 20:31] #433 closed, assigned to nobody

[2021-09-19 18:21] Sami32 commented on #9
rclone
https://remarkablewiki.com/tips/rclone
https://rclone.org
https://github.com/rclone/rclone

Bypassing the 8 GB Remarkable proprietary Cloud limitation should be welcome IMHO.

[2021-09-19 21:02] AntBoss opened #435 "Bricked remarkable 2 after attempting to uninstall toltec"
Hey, i followed his instructions in the link and after i rebooted it is stuck on remarkable is starting. Please help youre my only hope
https://github.com/toltec-dev/toltec/issues/295
Thank you in advance

[2021-09-19 21:04] MechEng70 commented on #435
Were you installing or uninstalling?
Can you still ssh into the rm2?
Do you have any launchers installed?

Did you follow the after reboot instructions?

[2021-09-19 21:13] AntBoss commented on #435
I was uninstalling, i had downloaded remux but removed it with opkg before following his instructions. I cant ssh into it anymore so i couldnt follow the after reboot instructios. Im currently banging my head against the wall trying to understand how i managed to brick my beloved 400$ device

[2021-09-19 21:15] AntBoss commented on #435
It probably has to do with the line about the systemctl. Either xotctl or however it is called is not booting up or i messed up something with the /opt

[2021-09-19 21:27] AntBoss commented on #435
I managed to ssh into it

[2021-09-19 21:35] AntBoss commented on #435
I FIXED IT
so the problem was with the line systemctl disable opt.mount. All i had to do was ssh into it using a cable and then just enabling it and rebooting it. Thanks for the quick response and have a great day

[2021-09-19 21:36] #435 closed, assigned to nobody

[2021-09-19 22:19] MechEng70 commented on #435
That was going to be the next question; HOW are you sshing in the device?  Glad you figured it out.

[2021-09-19 23:19] Eeems commented on #9
Porting electron also would require handling a windowing system as we don't currently have X or wayland running. Not really something I think we are interested in dealing with as part of toltec.

rclone is already available as part of entware. Just run `opkg install rclone`.

[2021-09-19 23:47] Sami32 commented on #9
@Eeems I see.
Thank you for your feedback +1

[2021-09-20 09:48] matteodelabre commented on #435
Glad you managed to fix your issue @AntBoss. If other users stumble upon this, please **just run `toltecctl uninstall` to uninstall Toltec**, the instructions you followed on the linked issue were outdated. I updated the linked issue to make this clear.

[2021-09-22 21:54] gbyl opened #437 "Include a Toltec-compatible 'koreader.service' unit with installation"
### Current Workflow
Toltec is designed to work with a launcher and it does a wonderful job at automatically registering KOReader for use with oxide, remux or draft. That being said, users who would like to simply run KOReader at startup, must do a bit of extra work.

The [default KOReader systemd unit](https://github.com/koreader/koreader/blob/master/platform/remarkable/koreader.service) assumes

[2021-09-22 21:58] Eeems commented on #437
PRs are welcome. That said, I'd recommend that this be a new package that isn't pulled by default for the KOReader package. Instead it be an optional dependency.

[2021-09-22 23:47] matteodelabre commented on #437
Regardless of whether this is implemented as a separate package, we should make sure that the systemd unit is declared as conflicting with the launchers so that users don't accidentally end up enabling both at once.

[2021-09-22 23:48] matteodelabre commented on #437
@Eeems Could you elaborate on why you believe this should be a separate package?

[2021-09-23 00:16] Eeems commented on #437
So people don't get confused with the install instructions telling them how to enable it and get confused as to why KOReader is starting at boot instead of their launcher.

Also, it's not the standard way most users will be using it.

[2021-09-23 02:51] siraben commented on #422
I ran into this today, using the testing bootstrap script fixed the issue.

[2021-09-23 13:12] gbyl commented on #437
@Eeems I'm afraid I am not familiar enough with Toltec to submit a PR. From the KOReader side of the equation, the best I could do was to provide users with a sed command:
[code]
It works, but it lacks all the elegance of a Toltec install.

Although I have encountered a non-negligible minority of people who use their devices primarily for KOReader and without a launcher, I have to agree that it is

[2021-09-24 13:46] matteodelabre opened #438 "Launchers systemd services: Use alias instead of listing conflicts"
In order to avoid having more than one launcher application started at boot, the existing launchers each declare a `Conflicts=` relationship with other launchers in their systemd units:

* https://github.com/Eeems/oxide/blob/master/assets/etc/systemd/system/tarnish.service
* https://github.com/toltec-dev/toltec/blob/stable/package/rmkit/remux.service
* https://github.com/toltec-dev/toltec/blob/sta

[2021-09-24 13:52] matteodelabre commented on #437
I understand your point about avoiding user confusion @Eeems, but I’m not convinced having a separate package is the right solution. Instead, I think we should fix existing instructions to make it clear that enabling the service will make KOReader start at boot, and to not do it if they want to keep their launcher. (Also related: #438).

[2021-09-24 13:53] matteodelabre commented on #390
Closing this. @ZanzyTHEbar please reopen if you’re still having this issue.

[2021-09-24 13:53] #390 closed, assigned to nobody

[2021-09-24 13:54] matteodelabre commented on #415
Closing this. Please reopen if anyone manages to reproduce the issue and give more information.

[2021-09-24 13:54] #415 closed, assigned to matteodelabre

[2021-09-24 14:06] Eeems commented on #438
I like it. I'll happily accept a PR in my repo as well as here.

[2021-09-25 15:07] MN-company opened #440 "Help, my remarkable is frozen on startup"
Hi everyone, after I installed toltec and tried to install (to verify that everything went correctly) the calculator (opkg install calculator), but my remarkable stopped working and crashed, then I restarted it, and it is stuck in the screen “remarkable is starting” I still have access with SSH and therefore I have access to all the files and the terminal, but I don't know how to move, is there an

[2021-09-25 15:54] matteodelabre commented on #440
Hi @MN-company, do not worry, as long as you still have SSH access it is very likely you’ll be able to fix this issue without sending your unit back. Can you tell us what OS version you are running?

[2021-09-25 16:02] MN-company commented on #440
Not sure which version I have, but I believe I have beta version 2.10.0.324

[2021-09-25 16:27] matteodelabre commented on #440
Installing any app from Toltec automatically installs [rm2fb](https://github.com/ddvk/remarkable2-framebuffer) since it is needed for third party apps to display anything on screen. But rm2fb doesn’t yet support version 2.10 beta. To uninstall rm2fb, run `opkg remove --force-depends display rm2fb-client xochitl`. This will allow Xochitl to run again, but you’ll be unable to use third party apps un

[2021-09-25 16:42] MN-company commented on #440
Oh ok, I should have been more careful reading the steps, but now I have the problem that opkg is not recognized as a command.
So I tried to reinstall Toltec but giving the command: “wget http://toltec-dev.org/bootstrap” the result is: “wget: Bad address toltec-dev.org”

Reading online they say it is due to the internet connection, is that so?

[2021-09-25 16:51] matteodelabre commented on #440
Yes, this is because you don’t have an Internet connection. It’s not clear to me to what extent you have uninstalled Toltec or still have some parts of it lying in your system. Do you still have files in `/opt`?

[2021-09-25 16:53] #440 closed, assigned to nobody

[2021-09-27 19:02] matteodelabre opened #445 "Warn users when installing Toltec on an unsupported OS version"

[2021-09-29 14:15] gbyl commented on #437
@matteodelabre Thank you for your hard work! I have ran the same tests as you https://github.com/toltec-dev/toltec/pull/441#issuecomment-927385494 and found that if you start from a fresh install then KOReader and Xochitl load at the same time — causing a framebuffer depth mismatch. Please try:

1. `toltecctl uninstall`
2. `bash bootstrap`
3. `exec bash -l`
4. `toltecctl switch-branch testing`
5.

[2021-09-29 14:26] Eeems commented on #437
@gbyl I've opened #447, could you confirm if adding `Conflicts=xochitl.service` to `koreader.service` resolves this?

[2021-09-29 14:36] matteodelabre commented on #437
It should already conflict with Xochitl because of the `Alias=launcher.service` line. But you need the latest version of the `xochitl` package for that (i.e., you need to `opkg upgrade` after switching branches).

[2021-09-29 14:55] gbyl commented on #437
@matteodelabre Excellent! After performing the general upgrade, the prompt now reads:

[code]

@Eeems We probably do not need https://github.com/toltec-dev/toltec/pull/447 anymore as the issue was caused by an oversight of mine.

Thank you both for the outstanding support. Feel free to mark this issue as solved now.

[2021-09-30 16:08] Eeems commented on #18
Looks like we have one item left on this. I'm guessing this is waiting on work in https://github.com/toltec-dev/build?

[2021-09-30 16:48] matteodelabre commented on #18
Well I’ve already written some documentation on how to build & test packages in that repo’s readme & docs folder. Do you have more items in mind that you would want to see covered in the docs?

[2021-09-30 16:50] Eeems commented on #18
Not really, after taking a peek at the repo's readme I think we can probably call this resolved.

[2021-09-30 16:52] matteodelabre commented on #18
The remaining work would be to remove the duplicate docs from this repo and link to the other repo’s documentation.

[2021-09-30 22:21] mioxoim opened #449 "Cannot use toltec or opkg"
Since I updated my remarkable I have not been able to access the repository or any of the apps.

I found this out when I went to update my packages:
`-sh: opkg: command not found`

I went to install toltec as I though it might have disappeared with the update. All the files were there. I follow an old guide how to uninstall as toltecctl unistall was not working either. https://github.com/toltec-de

[2021-09-30 22:25] Eeems commented on #449
`toltecctl reenable`

[2021-09-30 22:38] matteodelabre commented on #449
The error you’re seeing upon reinstalling is #422.

[2021-10-01 02:02] gbyl commented on #449
@mioxoim Try running:
[code]

[2021-10-01 14:20] mioxoim commented on #449
Thank you that was the solution!

[2021-10-01 14:20] #449 closed, assigned to nobody

[2021-10-02 21:50] gbyl opened #451 "Toltec UX: New User"
In order to provide the best UX possible, we should aim to ***make the least number of assumptions*** about the tech proficiency of a new toltec user. With that in mind, I have ran through a standard toltec installation:

### Issue 1 [fixed]
[code]
"Connect your device to Wi-Fi" should be explicitly mentioned in the README. As in "To automatically install Opkg, Entware and Toltec, connect your dev

[2021-10-03 07:45] raisjn commented on #451
great feedback, thanks for taking the time to write it up and help us make toltec better :)

[2021-10-04 15:26] Eeems commented on #327
We could always host a snapshot of the repo for stable and update it with the normal process we use for toltec as another option.

[2021-10-04 17:55] #409 closed, assigned to nobody

[2021-10-04 17:55] #422 closed, assigned to nobody

[2021-10-05 09:37] StefaanVanDooren opened #452 "Unable to use toltec on rm2 2.10.1.332"
After being updated to 2.10.1.332, I'm unable to use toltec (with remux).

Reenabling toltec gives an error when I do "systemctl enable --now remux" (didn't take note of the error, but it takes some time...)
Rebooting the remarkable hangs on "reMarkable is starting" (I can use ssh to login). Wifi isn't connected anymore.
Uninstalling toltec, brings the remarkable back to live.

[code]

[2021-10-05 09:57] matteodelabre commented on #452
Hi @StefaanVanDooren, rm2fb does not yet support 2.10.1. This issue should be reported to the rm2fb repo instead, more specifically in the following thread: https://github.com/ddvk/remarkable2-framebuffer/issues/18

[2021-10-05 09:57] #452 closed, assigned to nobody

[2021-10-09 14:47] tard44 opened #457 "Toltec command / checksum"

[2021-10-09 14:50] #457 closed, assigned to nobody

[2021-10-09 15:58] gbyl commented on #451
@matteodelabre Would you consider a PR proposing to remove the leading `$` from the README? So as to avoid future occurrences of https://github.com/toltec-dev/toltec/discussions/459

[2021-10-10 14:04] raisjn commented on #451
@gbyl sounds good

[2021-10-12 15:29] gbyl commented on #437
Fixed by https://github.com/toltec-dev/toltec/pull/441

[2021-10-12 15:29] #437 closed, assigned to nobody

[2021-10-12 19:07] gbyl commented on #152
Fixed by https://github.com/toltec-dev/toltec/pull/423 and https://github.com/toltec-dev/toltec/pull/460

[2021-10-12 19:41] Eeems commented on #305
Is this still an issue?

[2021-10-12 21:32] matteodelabre commented on #305
I'll have to test again.

[2021-10-13 19:41] gbyl commented on #451
Fixed by https://github.com/toltec-dev/toltec/pull/460

[2021-10-13 19:41] #451 closed, assigned to nobody

[2021-10-13 20:18] #438 closed, assigned to nobody

[2021-10-13 20:22] matteodelabre commented on #305
Issue is still present (although the package is now called `display`; the service is still `rm2fb`).

[2021-10-14 14:39] LinusCDE commented on #445
That's a really good idea. How about using remarkable-framebuffers list of versions in a whitelist used for installation as well as reenabling (or downloading it).
If `/etc/version` has no match in this list, we should prevent installtion and reenabling by default and require setting an env to bypass this (e.g. `toltec_ignore_version_error=1`).

[2021-10-14 14:43] Eeems commented on #445
Instead of an environment variable to bypass, it might make more sense to just have a `--force` command line argument.

[2021-10-14 14:49] LinusCDE commented on #445
That is a good idea, but I think this shouldn't be too easy. If it were `add --force to it`, some users might simply bypass that check and then wonder why the device doesn't reboot properly.

Saying `set the env toltec_ignore_version_error to 1` should rule a good portion of those users preventing them from accidentally bricking their devices.

[2021-10-14 14:53] Eeems commented on #445
I think that will only work for a short while, until someone tells someone to just run it with `toltec_ignore_version_error=1` before the command and then everybody will start using it that way.

I think we should just not tell people to use `--force` if the reenable fails, and have a strong warning in the `--help` output.

[2021-10-14 15:06] LinusCDE commented on #445
Good point! :+1:

[2021-10-16 23:54] cindy-jth opened #468 "Having trouble reinstalling toltec"
![image](https://user-images.githubusercontent.com/65687259/137604878-ebff53b4-931a-4a44-ab17-fbadbf14895e.png)

[2021-10-17 00:39] LinusCDE commented on #468
Hi,

**EDIT**: Before just saw the first error. Sorry. Try to do a `rm bootstrap` and then rerun the commands from the readme first. If that works out, just ignore the rest of this answer, since you might not need to remove the existing installation (Evildos install script doesn't support firmware updates out-of-the-box but has a reenable script for that).

---

seems like you didn't uninstall tol

[2021-10-17 07:38] matteodelabre commented on #468
Moving this to a discussion thread.

[2021-10-17 07:39] #468 closed, assigned to nobody

[2021-10-17 17:04] piforce opened #470 "uninstalling toltec"
After upgrading toltec with 2.10.1.332 as soon as I need the frame buffer the remarkable freezes.  Later I read that version 2.10 isn't supported yet. Fortunatly the usb ssh worked and with:  toltecct1 uninstall , then reboot the device worked again.  Maybe that's an easier way then remarkable2recovery what is on the frontpage.

Toltec installing works but as soon as I install a program the device

[2021-10-17 17:31] piforce commented on #470
When making a rm2fb.conf   in      /opt/etc/rm2fb.conf   toltec works for me

paste:
!20210929140057
version str 2.10.1.332
update addr 0x397ff4
updateType str QRect
create addr 0x39a408
shutdown addr 0x39a3ac
wait addr 0x39992c
getInstance addr 0x38e8dc

[2021-10-17 17:31] #470 closed, assigned to nobody

[2021-10-17 18:23] Eeems commented on #470
remarkable2-recovery is just for those who aren't able to get into their device anymore. It's a last resort if they are completely stuck.

Yup, 2.10 support is in the testing branch at the moment.

[2021-10-18 14:40] Eeems opened #472 "Cache dependency install"
https://medium.com/ai2-blog/python-caching-in-github-actions-e9452698e98d
https://stackoverflow.com/a/59277514

This might speed up the builds slightly.

[2021-10-18 16:00] matteodelabre opened #474 "Add self-check command"
We should add a `toltecctl` subcommand that diagnoses and tries to auto-fix common install issues such as:

* Missing `wget-ssl` package.
* Incorrect `PATH` value.
* Other things?

@Eeems proposed calling this subcommand `toltecctl doctor`. This command could be run automatically after `toltecctl reenable`.

[2021-10-18 16:02] Eeems commented on #474
Maybe detect that rm2fb isn't running? And disable it and re-enable xochitl if it's failing to start?

Maybe also warn that no ssh key is configured?

[2021-10-19 16:48] #472 closed, assigned to nobody

[2021-10-20 19:03] WesleyAC opened #475 "Checksum on https://opkg.rmkit.dev/ does not match"
[code]

What's up with this?

[2021-10-20 19:05] WesleyAC commented on #475
The file that I downloaded matches the one in the git repo, so it seems like the website is just out of date?

[2021-10-20 19:05] matteodelabre commented on #475
The canonical website is at https://toltec-dev.org/

[2021-10-20 19:15] Eeems commented on #475
@raisjn I'm thinking we can close this, do you want an issue opened on rmkit? or is that just a test site?

[2021-10-20 19:46] raisjn commented on #475
that site (opkg.rmkit.dev) was primarily for web dev / self hosting packages, but it's no longer relevant. i've taken it down and removed references to it from rmkit.dev/downloads

[2021-10-20 19:46] #475 closed, assigned to nobody

[2021-10-25 19:47] lambada opened #483 "dev-input-event* device units are not immediately available after install and need rebooting"
Just updated from 2.9 to 2.10 (having updated toltec and packages to most recent stable release before doing so) and remux didn't manage to start

`toltecctl reenable` hit a problem with removing remux initially
[code]
Which is weird, but seeing as it was trying to disable it before removing it anyway seems harmless.

It then proceeded to reinstall packages seemingly fine, and upon running the `sy

[2021-10-25 19:49] lambada commented on #483
I unfortunately don't have full log files- it appears that windows cmd doesn't play nicely with `journalctl` and the like, and it's decided to eat most of the `toltecctl reenable` output.

[2021-10-25 20:01] lambada commented on #483
[code]
Resulted in
[code]

Crud. Maybe it's a remux on 2.10 issue?
Same journalctl problem of waiting for device

[2021-10-25 20:17] lambada commented on #483
Switched back to the parition with 2.9 on it, and it's working again.

[2021-10-25 20:41] Eeems commented on #483
@raisjn @matteodelabre This might be the input devices again. Probably a reboot will resolve it, but it's rather annoying that it keeps happening for users.

[2021-10-25 20:55] lambada commented on #483
Interesting idea! I'll switch my partitions back and give a reboot a try after reproduing the failure again.
If that is the case a 'trivial' fix might be to get the install message to say to reboot the device in addition to saying to run the `systemctl enable --now remux`

[2021-10-27 13:14] lambada commented on #483
Switching the partitions back and doing a reboot means the 2.10.1 version works fine. I think a note alongside the one about running systemctl, saying that a reboot is required should make this clear to the end user.

[2021-10-27 14:36] Eeems commented on #483
While a note to do a reboot will probably resolve the issue with remux here, I'd prefer we properly resolve the issue so no reboot is required.

[2021-11-01 07:21] jmcwine opened #486 "List supported OS versions in readme"
Currently the information about supported OS versions is not easy to find.

[2021-11-01 07:25] jmcwine commented on #486
Perhaps the Toltec catalogue could also have a column which states the latest supported OS version for each package.

[2021-11-01 15:36] LinusCDE commented on #486
Hi jmcwine,

this idea a a good one, but I think we already decided and want to tackle this issue with #445. I also think, we had some discussion on alternative faster delivery of the version-dependant offsets for rm2fb (which are the major/most common thing holding back os support on the rM 2).

Any thoughts on this @matteodelabre , @Eeems ? Do we want to add this as well or treat it as a possibl

[2021-11-01 16:42] Eeems commented on #486
I think this is good to include with #445, say the supported versions (including minimum, as we do technically drop support for older versions).

For toltec packages the big barrier to support as you mentioned is Qt and other library changes. When that happens we have to do a hard cut on support, or introduce new repositories supporting older versions. Luckily that doesn't happen too often.

For t

[2021-11-03 18:04] Armydoc6069 opened #489 "RM2 All launchers freeze at "ReMarkable is starting up""
I have a Remarkable 2 with Software Ver. 2.10.2.356. I have successfully installed toltec, but my device will instantly freeze any time I attempt to enable one of the available launchers. I've tried numerous fresh installs, but I always have to disable whatever launcher and re-enable xochitl and then reboot. On checking the git for rm2fb, it appears to state that 2.10.2.356 has a supported configu

[2021-11-03 18:05] Eeems commented on #489
We don't currently support 2.10.2.356 in stable. You'll have to switch to the testing branch, install the latest rm2fb manually,or add a configuration file to allow rm2fb to support 2.10.2.356.

[2021-11-03 18:20] Eeems commented on #489
#486 and #445 will help keep this from happening in the future.

[2021-11-03 18:45] LinusCDE commented on #489
I think he has a point here. I didn't get to bother with that, but I have the same issue on both devices atm. Somehow starting a launcher through `systemctl start` (or enable) doesn't start the launcher but causes the command (if typed manually) to freeze forever.

I currently have a workaround where I just create a tmux session and just run e.g. `remux` from there. Then it starts up properly and

[2021-11-03 18:47] LinusCDE commented on #489
Edit: It does seem to work on my rM 1. I think I had some initial trouble of the same kind. Will investigate more on the rM 2.

[2021-11-03 18:47] Eeems commented on #489
remux has a known issue where a reboot is required after the first install.

[2021-11-03 18:59] LinusCDE commented on #489
It seems that is the issue. It seems to work now. I thought I had rebooted it, but seems not so.

My guess is that the service is waiting on the required (added to `Requires=` and `After=`) input devices. I didn't even know those had services for it.

Just ran this command before rebooting (where the launcher got stuck): `systemctl status dev-input-event0.device dev-input-event1.device dev-input-e

[2021-11-03 19:03] Eeems commented on #489
It's trying to start new instances of them for some reason, and failing because they already are started. It seems like it's an issue with how systemd implemented those device units.

They need to be in the Requires/After to ensure that the input devices have been created before remux starts up, as on boot they will sometimes not exist yet if remux starts too quick. https://github.com/toltec-dev/t

[2021-11-03 19:03] Armydoc6069 commented on #489
Switching to the testing branch has Oxide working swimmingly for me. I still run into some issue with remux, however I don't really have any desire to recreate it as I've been at this process for a few days now, and it's just kind of nice to just have a working rm2. As an aside, if anyone could point me in the direction of a guide on how to actually launch the entware files I have downloaded, I wo

[2021-11-03 19:11] #489 closed, assigned to nobody

[2021-11-03 19:13] Eeems commented on #489
You'll need to run it from a terminal. I'd recommend using yaft (`opkg install yaft`) which you can launch from oxide. After which you'll be able to run angband by typing in `LANG=en_US.utf8 angband` and pressing enter. Yaft does have a bug right now where you need to use the pen to input anything
![2021-11-03T191137 719](https://user-images.githubusercontent.com/1176979/140177132-359b19aa-2381-40

[2021-11-03 19:32] Armydoc6069 commented on #489
Eeems, you are a true hero today.

[2021-11-03 19:40] raisjn commented on #489
afaik, all launchers need to wait for those devices to appear before starting unless they are doing something special

[2021-11-16 18:34] Eeems commented on #18
@matteodelabre should that be done as part of this issue or a new one? This is the last issue outstanding before we can resolve #15  and close the community rollout milestone.

[2021-11-20 23:43] matteodelabre commented on #18
Yes, I think we can close this. There is already a (quite basic) guide on how to build and test a package here: <https://github.com/toltec-dev/build/blob/main/docs/writing-recipes.md#testing-your-package>. We should track further improvements to this guide in a separate issue.

[2021-11-20 23:43] #18 closed

[2021-11-27 16:44] matteodelabre opened #504 "Automate and document stable merge workflow"
Our workflow for moving packages from the testing branch to the stable branch is not currently documented and is done manually. We should decide on a fixed workflow, automate it as much as possible, and document precise steps in [branches.md](https://github.com/toltec-dev/toltec/blob/stable/docs/branches.md#moving-a-package-from-testing-to-stable).

Here’s how I’ve been preparing stable merges:

*

[2021-11-29 23:25] Eeems opened #506 "Kernel modules don't support the latest kernel"
It looks like OS 2.10.3 is now 5.4.70 based. The wireguard and fuse packages generate 4.14.78 and 4.9.84-zero-gravitas folders, but not 5.4.70-zero-gravitas.

cc @jonahweissman @plan5

[2021-11-29 23:28] Eeems commented on #506
@matteodelabre we probably should have a kernel meta package along with whatever we do for #445 to support different OS versions.

[2021-11-30 23:09] Eeems commented on #506
I wonder if exploring something similar to dkms would make sense?

[2021-12-05 07:14] jgonyea opened #508 "No xochitl available from oxide"
I'm very new to the side-launching of things on the rm2, so its entirely possible I'm missing something obvious.

rm2, v2.10.3.379
tarnish and oxide are both v2.2.2-1
`cat /etc/version` echos `20211102143141`

I've installed oxide/ tarnish, and I can manually switch to it via ssh commands, but I see no way of launching xochitl from oxide.  I only see two icons in oxide:
* koreader
* Process Manage

[2021-12-05 07:15] jgonyea commented on #508
Oops, I posted this to the wrong repository.  Closing issue

[2021-12-05 07:17] Eeems commented on #508
Did you install the `xochitl` package? It should have been installed by default.

[2021-12-05 07:17] Eeems commented on #508
Also, this is the correct repo for this kind of issue, as the integration between apps is handled by toltec itself.

[2021-12-05 07:19] jgonyea commented on #508
I don't recall manually installing it, but attempting to do so produces the following results:
[code]

[2021-12-05 07:24] Eeems commented on #508
Interesting. Could you verify that `/opt/usr/share/applications/xochitl.oxide` exists? If not please force reinstall the `xochitl` package.
If it is installed, you'll want to review the tarnish logs to see if it tells you why it's skipping the xochitl application: `journalctl -au tarnish`

[2021-12-05 07:40] jgonyea commented on #508
The file existed, but I force reinstalled anyways (v0.0.0-10)

[code]
`journalctl -au tarnish` doesn't show anything for this transaction

[2021-12-05 07:43] Eeems commented on #508
Probably related to the following somehow:

Is tarnish running? And when it has been started are there any log lines that mention xochitl?

[2021-12-05 07:46] jgonyea commented on #508
Tarnish is running and active.
[code]

[2021-12-05 07:47] jgonyea commented on #508
I have nothing of super import on this device, so if I need to wipe it clean and restart from the beginning, I'm happy to do so.

[2021-12-05 07:56] Eeems commented on #508
That probably won't really help. Unless you did something really odd when initially installing.

And the log lines during startup of tarnish? Does it talk about xochitl at all? Are there any messages about things not existing anymore? Ignore the `ERROR: ld.so: object '/opt/lib/librm2fb_client.so.1' from LD_PRELOAD cannot be preloaded (internal error): ignored.` lines, they are technically just war

[2021-12-05 08:03] jgonyea commented on #508
[code]
I ran the output though a json prettifier

and no, I don't see anything in the log entries regarding xochitl for tarnish

[2021-12-05 16:21] Eeems commented on #508
So it's failing to register for some reason. Could you post the log output of tarnish after restarting it, there should be something there about why it's refusing to load it. Like it being unable to find the executable or something

[2021-12-05 16:40] raisjn commented on #508
have you tried reimporting applications from oxides menu? this worked for me

[2021-12-05 16:41] Eeems commented on #508
Oxide is using xochitl.oxide as it has required settings that xochitl.draft doesn't provide.

[2021-12-06 02:32] jgonyea commented on #508
Reimporting freezes oxide, forcing me to restart it via the ssh session.

How do get all the logs of tarnish starting?.  Running `journalctl -au tarnish` doesn't seem to give me everything.

[2021-12-06 02:34] jgonyea commented on #508
Here's the log I found so far:
https://pastebin.com/8a5YwzCf

[2021-12-06 04:18] Eeems commented on #508
this would be the correct way, you can use the arrow keys and page up/down to navigate through the logs. You can also add `-f` to have it automatically follow the logs as they are outputted.

This is getting close, could you provide more? It looks like you got right up to where I would expect it to be parsing the xochitl application information, which would give us what we need to know what is hap

[2021-12-07 18:50] Eeems opened #509 "toltecctl reenable when already installed"
`toltecctl reenable` can mess up if it's already installed. Should we do some sort of check and then require a `--force` flag if we determine it's already installed?

https://discord.com/channels/385916768696139794/385922812121972737/917831080000761906

[2021-12-07 18:50] Eeems commented on #508
@jgonyea poke?

[2021-12-08 01:10] jgonyea commented on #508
I'm pretty sure the log just stops there, but I'll confirm later this week.  I'm swamped with the $DAYJOB stuff for now.

[2021-12-08 01:15] Eeems commented on #508
The log would not stop there, you'll just need to scroll further through it with the arrow keys or page up/down.

[2021-12-16 06:51] Evidlo opened #515 "Launchers should manage xochitl through systemd"
Some launchers draw on top of xochitl and need to be able to pause it with SIGSTOP.  However, the default xochitl service has `WatchdogSec=60`, which causes xochitl to restart after 60 seconds of inactivity.

remux, for example, gets around this by launching xochitl directly instead of using systemd.  Disabling the watchdog will allow xochitl to be systemd managed again.

This is especially pertin

[2021-12-16 13:41] raisjn commented on #515
thanks for investigating this and following up! after i suggested the watchdog change, i realized there are a few things going on and my suggestion for changing watchdog may not be enough.

1) you want a way to restart xochitl automatically after loading documents through remarkable_printer
2) draft/oxide/remux don't use systemd to manage xochitl (because of the watchdog for remux and the executio

[2021-12-16 20:36] Eeems commented on #15
We should probably make some progress on the actual announcement of this?

[2021-12-16 20:37] Eeems commented on #508
@jgonyea any followup?

[2021-12-16 20:56] Eeems commented on #515
We probably should build a helper script that will properly kill/start xochitl for you based on whatever launcher you use.

For Oxide you would use `rot` to accomplish this. For example (With `jq` installed):
[code]

You'd probably do the following to stop/start xochitl, where you only start xochtil if it was the current application.
[code]

[2021-12-17 04:07] jgonyea commented on #508
Thank your for your patience.

https://pastebin.com/VCBzez3S
Here's some more log entries.

Of possible note, I see the following:
[code]

[2021-12-17 04:18] Eeems commented on #508
What is the content of `/opt/usr/share/applications/xochitl.oxide`?

[2021-12-17 10:44] Myridium commented on #509
Yes

[2021-12-18 05:51] jgonyea commented on #508
[code]

[2021-12-18 13:57] matteodelabre commented on #508
There seems to be an extra comma on line `"/var/lib/dbus"`. @Eeems is the JSON parser in Oxide sensitive to that?

[2021-12-18 14:24] jgonyea commented on #508
After removing the comma and restarting tarnish, oxide begins to load, but then xochitl starts immediately afterwards. The app launcher isn't reachable.

[2021-12-18 14:32] jgonyea commented on #508
Did an opkg update/upgrade, restarted tarnish, and oxide still only showed the originally noted 2 applications. Used the menu to reimport, which didn't crash the interface this time and now all icons are showing!

[2021-12-18 15:07] jgonyea commented on #508
Bugger, nope.  Something is still autostarting up the xochitl application and I can't get back to the oxide application.

[2021-12-18 16:27] Eeems commented on #508
Tarnish could be crashing and auto starting xochitl. Check the logs again

[2021-12-25 09:45] NicolasStr opened #520 "Can't install toltec because of grep: /etc/opt/profile not found"
Hello,

The toltec install can't install, this is the output:

**reMarkable 2 version 2.11.0.442**

First try:
[code]

Second try:
[code]

[2021-12-25 15:36] matteodelabre commented on #520
Hi @NicolasStr, I’ll move this to a discussion if you don’t mind, as those are preferred for troubleshooting.

[2021-12-25 15:37] #520 closed, assigned to nobody

[2021-12-25 23:05] Eeems opened #524 "Toltecctl doesn't work with built-in wget"
This means that using it manually to clean up a bad install will not work, and it gives users a confusing message saying to connect to wifi.

[2021-12-26 00:18] matteodelabre commented on #524
Is this for cases where users perform a “factory reset” of their devices, thereby wiping the home partition including Toltec, but leaving the system partition as it was? Perhaps the better option would be to reflash the root partition in that case… if the Toltec install is wiped out there’s no way we can tell which packages were previously installed, and therefore we can’t hope to clean everything

[2021-12-26 01:06] Eeems opened #525 "Add path to .profile instead of .bashrc"
If users use a non-bash shell, opkg etc will not be available to them.

[2021-12-26 01:07] Eeems commented on #524
It seems to be a case for when they are using sh instead of bash.

[2021-12-27 22:27] jgonyea commented on #508
I did another opkg update/upgrade today.  Ran a `systemctl disable --now draft` and `systemctl enable --now tarnish`

I see oxide start, but soon there after, xochitl starts on its own.

https://pastebin.com/GuU8DxWj

[2021-12-28 13:02] Eeems commented on #508
Did you disable xochitl first? It needs to be disabled after an upgrade.

Also do you have xochitl set as your Oxide startup app?

Edit: looking at the logs, it looks like xochitl is being started by oxide. You should double check in the launcher if you have it set as the startup app. Long press on the icon and you should see the button to toggle it's state and what state it is in.

[2022-01-13 01:42] jgonyea commented on #508
Sorry I haven't got back to you on this.  I've run out of time to chase this down.  Draft launcher is functional enough for my current needs.  If I need to pursue this again, I'll (re)open a ticket.

[2022-01-13 01:42] #508 closed, assigned to nobody

[2022-01-14 22:04] LinusCDE opened #536 "Add connect timeout for rmfakecloudctl"
As found here: https://github.com/toltec-dev/toltec/pull/535#issuecomment-1012598588

When an IP is unreachable, wget tried to seemingly forever connect. There should be some sensible connect timeout (3-5s) specified to prevent this.

[2022-01-18 14:15] uq-at-paris-saclay opened #538 "Interpretation of "newer than OS 2.11.0.442""
https://toltec-dev.org/ says `Warning: Toltec does not yet support any OS build newer than OS 2.11.0.442. You will soft-brick your device if you install before support is released.` What is the meaning of newer than OS 2.11.0.442? Does it mean strictly newer ">", or from that version ">="?

[2022-01-18 14:51] matteodelabre commented on #538
It is safe to install Toltec on OS 2.11.0.442, which is the latest release. This warning means that we do not yet support future versions, as we usually need a few days or weeks to make sure everything works correctly with new releases.

I’ve updated the website so that the phrasing is hopefully clearer.

[2022-01-18 18:33] Snowflake6 opened #539 "Allow packages without files on the root partition to get reenabled"
Upgraded from 2.10.(something) to 2.11.0.442.  Used `toltecctl reenable` to reload everything.  Output :

[code]

No mention of ddvk-hacks in the log.

To resolve, only needed to remove and re-install ddvk-hacks and all is well.

However, I have remarkable-stylus installed and when I tried to remove ddvk-hacks it errored out because remarkable-stylus was a dependency.  So I removed remarkable-styl

[2022-01-23 09:35] Servinjesus1 opened #540 "Reenable Failure on Packages wget"
I am getting a peer reset (alert code 80) on attempting to reenable toltec, after updating from ~2.7 to RM 2.11.0.442.

Specifically, `wget` fails on attempting to download list from `https://toltec-dev.org/stable/rmall/Packages.gz`.

[code]

Or, simply the `Package.gz`:

[code]

Is this akin to #424?

[2022-01-23 17:10] matteodelabre commented on #540
Does `/opt/bin/wget` exist on your device? Can you check the result of `command -v wget`? It should return `/opt/bin/wget` but I assume it’s going to give you `/usr/bin/wget`. In that case, can you print the contents of your PATH variable?

[2022-01-23 23:51] Servinjesus1 commented on #540
You're right, it does execute from `/usr/bin`. Here's what's in my PATH:

[code]

[2022-01-24 00:11] matteodelabre commented on #540
I assume you have no `/opt/bin/wget` executable then? Or perhaps it doesn’t have the -x flag?

[2022-01-24 00:15] matteodelabre commented on #540
If that’s the case, I assume you don’t have the `wget-ssl` package installed (which is strange in itself, since it comes by default with the standard Toltec install—how old is your install? Did you remove the `wget-ssl` package manually?). To install it back, download it manually from [Entware](https://bin.entware.net/armv7sf-k3.2/wget-ssl_1.21.2-1_armv7-3.2.ipk), `scp` it to your device, and run

[2022-01-24 04:08] Servinjesus1 commented on #540
`wget-ssl` was what was needed, thanks! Not sure, I've had to reenable it a few times through RM updates, and try to keep everything up to date through `opkg`. If that's not how to update toltec itself, then my install's likely old.

[2022-01-24 04:08] #540 closed, assigned to nobody

[2022-01-24 22:19] mariusdkm commented on #539
I had the exact same case.
I updated from 2.10.(something) to 2.11.0.442.
I tried running `toltecctl reenable` again, but that did nothing
So, to re enable ddvk-hacks, I did the same steps (remove and re-install)

[2022-01-26 02:27] matteodelabre commented on #538
@uq-at-paris-saclay Does this answer your question?

[2022-01-26 04:42] uq-at-paris-saclay commented on #538
Thank you, I think it is clear now!

[2022-01-26 04:42] #538 closed, assigned to nobody

[2022-01-30 20:12] simonante opened #544 "Update keywriter to latest version"
Would be great to have this rm keywriter fork with smaller font size for edit mode:
https://github.com/danschrage/remarkable-keywriter

There have been few more people who wanted to have a writing experience with smaller font size.

[2022-01-30 20:14] Eeems commented on #544
It would probably make more sense to ask for that change to be upstreamed, or configuration added to tweak it per install.

[2022-02-06 11:29] dominique-unruh commented on #445
Maybe it should have a more dangerous name. `--force-and-brick-my-device` or something. I guess most users will then at least check the documentation or Google for it.

[2022-02-06 16:17] Eeems commented on #445
The help output would have the documentation required in my proposal. You'll find that having more "dangerous" names doesn't actually keep users from using it without knowing what it actually does. As soon as one person posts a blog post, or reddit comment saying to use it, people will just start using it without reading up on what it does.

[2022-02-10 13:06] LinusCDE commented on #524
While using the tls supporting bootstrapped wget should be the way to go, maybe tweaking the page to at least work with reMarkable would be a nice fix that suffices. Still have the nginx changes for my old site at https://rmtestrepo.cosmos-ink.net/

Nginx server entry:
[code]

I think explicitly allowing older TLS versions, makes the old wget work here. Also ensure you're not using `http2` in your

[2022-02-15 18:34] pbouffard opened #553 "Check if user has autoupdate turned on"
Not sure if it's exposed somehow in the OS but given that an auto update of the RM2 OS can lead to suddenly losing the ability to use unofficial software, it would be great if on install/update of toltec that it check if the user has auto-update turned on and give a warning or perhaps even turn it off if that's possible.

If not at least a very conspicuous message somewhere in the install flow to

[2022-02-16 03:06] sammcj opened #554 "Support for Remarkable 2 - 2.12.1.527"
Remarkable 2 shipped 2.12 last week, the current build being 2.12.1.527.

It would be great to have an update to Toltec to support this.

[2022-02-16 04:45] MechEng70 commented on #554
Currently in beta.

I can comment that it is currently functioning.

[2022-02-16 05:23] idnovic commented on #554
What does that mean? Is it possible for me to test it or do I need to wait until it is released to stable?

[2022-02-16 05:32] MechEng70 commented on #554
If you are using the stable releases, then you may have to wait a few days.
You can always use the testing branch.

Seems like there is a command now to switch:
`toltecctl switch-branch testing`

[2022-02-16 07:36] idnovic commented on #554
Thank you.
I never used toltec before. I will test it out later this week.

Can you check if you can only update a single package to testing branch?

[2022-02-16 14:23] MechEng70 commented on #554
It updates all packages in the testing branch.

[2022-02-16 19:44] LinusCDE commented on #554
If you want to test only a specific package, the easiest is probably to head to <https://toltec-dev.org/testing/>, download the package in question (Link in last column that gives you can `.ipkg` file), upload this to your rM (Filezilla, WinSCP, ...) and use `opkg install filename.ipkg`.

Please note that this can of course cause dependency problems and may require manual troubleshooting as cherry

[2022-02-21 03:38] matteodelabre opened #558 "Enabled launcher state is lost after upgrade and reenable"
In normal circumstances, when enabling a launcher app to start at boot, a symlink is created by systemd from `/etc/systemd/system/launcher.service` to the said service. This helps prevent having multiple launchers start at boot and compete for display access, and is used by Toltec’s helper `how-to-enable` to inform users that they need to disable another launcher before enabling a new one.

After

[2022-02-21 03:41] matteodelabre commented on #553
Thanks for the suggestion. I believe auto-updates are enabled if and only if the `update-engine` systemd service is enabled, so it should be possible to check this in a script. We could even suggest the `systemctl mask update-engine` way of permanently disabling auto-updates.

[2022-02-21 03:53] matteodelabre opened #559 "toltecctl reenable did not recreate the templatectl mount point"

[2022-02-21 15:51] #554 closed, assigned to nobody

[2022-02-28 22:21] matteodelabre commented on #544
Seems to have been added to upstream. Keeping this open as a reminder to update our package.

[2022-03-03 18:10] gbyl opened #566 "Automate KOReader Updates"
I wrote the script below to push KOReader updates. It uses github cli `gh` and assumes the GNU implementations of `date`, `awk`, and `sed`. It has worked well enough for the past 3 releases. However, there must be a more robust/elegant solution from the Toltec maintainer's point of view. Any ideas @matteodelabre @Eeems?

[code]

[2022-03-03 18:36] raisjn commented on #566
looks great!

[2022-03-03 18:47] Eeems commented on #566
Would it be possible to run this in github actions on a schedule?

[2022-03-03 18:51] matteodelabre commented on #566
Related to #59

[2022-03-03 20:20] matteodelabre commented on #566
As you can see from the issue I linked above, this has been on our backlog for a while! So, thanks a lot for reviving this. I’ll try to abstract some of the ideas of your script to see how we could apply it to other packages. From your script, we can see that there are 3 key steps on which we can work:

_1. Fetching the latest upstream version._ From what I understand, here you’re using the endpoi

[2022-03-03 20:25] #544 closed, assigned to nobody

[2022-03-03 20:33] #536 closed, assigned to matteodelabre

[2022-03-03 21:08] gbyl commented on #566
That is a much more ambitious task! One of the reasons I picked KOReader is because it is a rather non-contentious package. No other packages depend on it. Worst case scenario we push a bad release and KOReader crashes, users go back to xochitl or their launcher of choice. I would be more aprehensive about automating the updates for key packages such as the framebuffer, display, etc.

Good catch!

[2022-03-11 04:51] pr0fsmith opened #568 "Add rmscreens package"
I wrote a small utility to easily change the remarkable sleep screen and other screens via CLI.  It is composed of 2 scripts.  The first script sits on the rM that accepts 2 arguments 1. the screen you want to change and 2. the location of the new .png.  The second script sits on the local computer and asks a series of questions and passes the needed arguments to the first script to change the scr

[2022-03-14 22:50] matteodelabre commented on #539
As the saying goes, *it’s not a bug, it’s a feature* of the `reenable` script, which only reinstalls packages which have files on the root partition. The `ddvk-hacks` package does not install packages outside of `/opt`.

To fix this issue, we need to extend the `reenable` script to allow packages without files on the root partition to get reinstalled. @Eeems suggested on Discord that we could inst

[2022-03-14 22:58] Eeems commented on #539
@matteodelabre it might be a good idea to implement this keeping #251 in mind?

[2022-03-16 02:02] #558 closed, assigned to nobody

[2022-03-26 11:28] magnum opened #577 "Job for rm2fb.service failed because the control process exited with error code."
installing any package returns
[code]

i'm using `2.12.2.573`

```systemctl status rm2fb.service```
reports

[code]

and
```systemctl status rm2fb.service```
reports
[code]

any ideas?
thank you
A

[2022-03-26 17:51] matteodelabre commented on #577
Hi @magnum. As stated on [our website](https://toltec-dev.org/), system version 2.12.2 is not supported yet (only up to 2.12.1). Support for this newly-released update should be out in a few weeks.

[2022-03-26 17:51] #577 closed, assigned to nobody

[2022-03-30 08:14] ponymushama opened #580 "Help! When I use toltec to install rm2fb, I meet an error."
Job for rm2fb.service failed because the control process exited with error code.
See "systemctl status rm2fb.service" and "journalctl -xe" for details.
Collected errors:
 * pkg_run_script: package "display" postinst script returned status 1.
 * opkg_configure: display.postinst returned 1.

[2022-03-30 12:21] Eeems commented on #580
What OS version are you running? Also, did you get the output of the commands it provided to get more error information?

[2022-03-30 16:58] LeifAndersen commented on #580
For whatever its worth, I also have this problem.

I'm currently on 2.12.2.573, but this has also been an issue I've had going back to ~2.9 (which I never resolved).

[2022-03-30 17:15] Eeems commented on #580
[As per the website, we don't currently support 2.12.2.573](https://toltec-dev.org/#install-toltec). Likely you've always tried installing toltec before we support the OS version you are on.

[2022-03-30 22:22] rsaavedn commented on #580
What is the expected date for 2.12.2.573 support ?

[2022-03-30 22:28] LeifAndersen commented on #580
Ya, that makes sense.

FWIW, it does seem to work if you switch to the testing branch. (I do wish there was a way to get just one package from testing, and the rest from stable. But oh well.)

[2022-03-31 03:12] Eeems commented on #580
A couple weeks. Still waiting on a couple branches to be merged into testing and then it will be in the next weekly merge window after the merge.

[2022-03-31 06:52] ponymushama commented on #580
OS is 2.12.2.573.
I didn't get the output of the commands.

[2022-03-31 06:53] ponymushama commented on #580
I have installed toltec successfully, but I cannot install any package by now.

[2022-03-31 12:01] Eeems commented on #580
We don't support the version of the OS that you are running. You will want to uninstall until we release support for it.
`toltecctl uninstall`

[2022-04-01 05:03] ponymushama commented on #580
Thx. I will uninstall it for now.

[2022-04-01 13:40] #580 closed, assigned to nobody

[2022-04-02 19:46] robstolarz opened #583 "testing: installing on 2.12.2.573, `Unknown package 'toltec-base'.`"
Attempting to install on Remarkable 2 with no prior hacks installed, via `testing` on 2.12.2.573, I get the errors `Unknown package 'toltec-base'.` and then ` * opkg_install_cmd: Cannot install package toltec-base.` See full output below.

[code]

[2022-04-02 22:00] matteodelabre commented on #583
Hi @robstolarz. Even if you download the bootstrap script from the testing branch, that script is still configured to make a stable install by default. To make a testing install, please run `toltec_branch=testing bash bootstrap`. Please note that packages on the testing branch are more susceptible to containing bugs (see [the docs](https://github.com/toltec-dev/toltec/blob/stable/docs/branches.md)

[2022-04-02 22:00] #583 closed, assigned to nobody

[2022-05-08 21:47] Eeems opened #589 "Explore moving xochitl off of root partition"
Since we have limited space on the root partition at this point, we should explore moving it off of root. Likely as part of install we should move it to /home/root and symlink to it. The ddvk-hacks package will also need to be updated to handle the new location.

@matteodelabre @raisjn @LinusCDE thoughts?

[2022-05-09 11:27] Etn40ff commented on #589
Is there no other way around moving stuff? Should we consider repartitioning?

In any case I would probably move `libicudata` first:

[code]

[2022-05-09 13:18] Eeems commented on #589
Since we already move xochitl around for ddvk-hacks, it seems like low hanging fruit to give a little bit of extra space. Moving other libraries is interesting and would give more space. Straight up removing unused libraries would provide even more space, but could have unintended side effects if a developer started assuming they were available.

As for repartitioning, it's possible but it introdu

[2022-05-09 17:24] matteodelabre commented on #589
These are interesting ideas, but moving the `xochitl` binary could prove to be a bit fragile and we will need to think about all corner cases and interactions. I’m not saying this isn’t doable, since as you pointed out we already do something similar with the ddvk-hacks package.

Another idea which could be more robust would be to provide our own Toltec root filesystem (without Xochitl), and to pr

[2022-05-09 18:10] Eeems commented on #589
I do like the second item medium to long term. I think we have an immediate need though as the latest OS has an extreme space problem again, and this might give us a quick win to hold us over for a little bit. That and bind mounting `/var/log` to the home partition.

[2022-05-09 23:24] LinusCDE commented on #589
We could also consider ~~compressing~~ packing binaries with [upx](https://github.com/upx/upx/). For some binaries the packing doesn't work or executing the binary fails. But packing a lot of things like built-in wget, vim, nano etc. might work and save some space.

I would not recommend this for xochitl, as this makes finding memory regions and patching for ddvk likely impossible. Also if the bin

[2022-05-09 23:25] Eeems commented on #589
Do we know if the binaries have been stripped or not?

[2022-05-10 00:05] LinusCDE commented on #589
According to `file`, at least vim.vim, xochitl, sync and minidump_stackwalk are stripped (those seem to be the biggest binaries).

Not sure. But xz can usually compress binaries pretty heavily (getting about a third of the original size is common) I think the main problems of upx making a binary unusable where with newer rust builds. Other binaries should be find and the project is pretty mature i

[2022-05-10 14:13] Etn40ff commented on #589
As discussed on discord, here is a possible list of libraries that may not be used.
It is the output of
[code]
run in a docker image of `ghcr.io/toltec-dev/base:v2.2`  with the current working directory being the image contained in `2.9.1.236_reMarkable2.signed`.

I would probably triple-check berore saying that something like `libc` is not used :)

[code]

[2022-05-10 14:30] Eeems commented on #589
The systemd libraries are likely used as well. Especially some of them like dropbear. Some of the Qt stuff might also be used in a way that ldd might not catch, that or are used by third party code that toltec hosts. libprotobuf is used by the update engine I believe as well. libunwind would likely be used by their crash reporting.

[2022-06-10 16:18] EntrixIII commented on #589
Considering that (if I understood it right) most (if not all) of the additional writing done onto root partition is done because of logging, I feel like @Eeems' idea of

is a logical conclusion that I assume would have a much lower risk of breakage compared to moving xochitl or libraries, and would allow to buy some time to work on other solutions.

The only problem I see with this is the transiti

[2022-08-14 17:44] ju6ge commented on #506
Hey is there any information available to help with this? I am trying to use wireguard to connect the remarkable to my home network, but due to the outdated packages it will not work :sob:

[2022-08-20 13:50] dphans opened #618 "Can't install toltec on 2.14.1.866 (reMarkable 2)"
I'm try to install tool by bootstrap file but found error, please check photo below:

[code]

![Screen Shot 2022-08-20 at 20 49 20](https://user-images.githubusercontent.com/12996976/185749271-e3519b36-7dec-4245-b3ea-d6480d10384c.png)

[2022-08-20 15:11] LinusCDE commented on #618
It seems that you had installed toltec previously. Usually the script would tell you, that you have toltec already installed, but it would not in a few cases:

 - toltecctl is missing (located at `/home/root/.local/bin/toltecctl`). Could mean a super old installation
 - `/opt` was cleaned but the mount wasn't removed (also checked `/home/root/.entware` but that would probably bind mounted together

[2022-09-05 00:13] glyh opened #624 "Install toltec and toltec packages offline via scp?"
Hello all, my remarkable 2 tablet is having trouble to install toltec by directly running the command given in the README, so I wonder if it's possible to install via scp over ssh? Thank you!

[2022-09-05 03:31] #624 closed, assigned to nobody

[2022-09-07 07:42] palfrey opened #626 "Is 2.14.3.977 usable?"
Website says no, but [remarkable-hacks now has support](https://github.com/ddvk/remarkable-hacks/commit/c3ec0b6aa480baaaaf63460c99796f952265bf19) as does the [rm2 framebuffer](https://github.com/ddvk/remarkable2-framebuffer/pull/104) so not sure?

[2022-09-07 12:55] Eeems commented on #626
Not until the packages are updated and make it to stable.

[2022-09-07 19:42] palfrey commented on #626
* Display update ~~https://github.com/toltec-dev/toltec/pull/623~~ https://github.com/toltec-dev/toltec/pull/628
* ddvk update https://github.com/toltec-dev/toltec/pull/627

[2022-09-11 17:09] palfrey commented on #626
I've installed toltec stable (as the bootstrap didn't use either package), and then built/installed both of these by hand. LGTM on my rm2 running 2.14.3.977

[2022-09-12 00:46] Eeems commented on #626
I would recommend commenting on the pull requests themselves, and testing with the artifacts generated there.

[2022-09-13 13:24] Miladiir opened #629 "Website is down"
[The Website](https://toltec-dev.org) is down as  of right now

<img width="415" alt="image" src="https://user-images.githubusercontent.com/1358063/189912740-093c582a-22c2-4214-bce0-1d38a45e7ee8.png">

[code]

[code]

[2022-09-13 17:55] matteodelabre commented on #629
I transferred the domain to a different registrar but the transfer did not go as planned (previous registrar cut off the old DNS server immediately). Sorry about that. I’m working on it and will report back.

[2022-09-13 18:03] matteodelabre commented on #629
I just switched the DNS server, the change is being propagated.

[2022-09-13 18:18] #629 closed, assigned to matteodelabre

[2022-09-17 12:55] sloane-shark commented on #626
@palfrey would you mind putting together a gist or something demonstrating how you got this working on the latest firmware? I’m really interested to try, but unsure when official support will come

[2022-09-17 16:00] palfrey commented on #626
I mostly just did the standard install and then you can copy individual .ipk's (either from local hand-built stuff or the artifacts in the PRs) and install those with `opkg install <file>`

[2022-09-29 14:08] atze007 commented on #626
I'm sorry if I'm being a bit stupid.... But I would also like to use tolltec and am on 2.14.3.1005. How exactly do I have to proceed or what do I have to install additionally?

[2022-09-29 21:05] sloane-shark commented on #626
@atze007 **assuming ddvk and display support that firmware**, you can follow the normal installation procedure, but any framebuffer apps will require you to copy the updated installers for ddvk and display to your remarkable and run them manually.

[2022-09-29 22:56] Eeems commented on #626
We don't support running ddvk-hack's installer directly with toltec's package already installed. You'd need to grab the updated ipk artifacts from one of the open pull requests, or switch to the testing branch if the pull request has been merged.

[2022-10-04 15:32] palfrey commented on #626
I think https://github.com/toltec-dev/toltec/pull/635 solves this?

[2022-10-04 15:33] #626 closed, assigned to nobody

[2022-10-14 23:08] Jayy001 opened #638 "remux prerm script fails on reenable"
Just did a fresh update from `2.14.1.866` to `2.14.3.1005` (Have not installed ddvk-hacks, can confirm everything is working fine)

After running `toltecctl reenable`, it does throw an error which it shouldn't do over a unit file not existing.

Full log:
[code]

[2022-11-12 01:39] Eeems opened #647 "kernelctl install error"
![image](https://user-images.githubusercontent.com/1176979/201450608-544f361b-9817-4699-816f-3d7f5aaf8317.png)

@Etn40ff

[2022-11-12 01:40] Eeems commented on #647
This is using a fresh install

[2022-11-12 01:41] Eeems commented on #647
It looks like the following resolves it:
![image](https://user-images.githubusercontent.com/1176979/201450686-6bc5169c-8980-4423-b721-c0600832fbdd.png)

[2022-11-12 17:06] Etn40ff commented on #647
I think this is due to the new way in which configure works: `kerneltl list` uses `get_current_kernel_name` which assumes current.tar.bz2 exists. I'll fix it presently.

[2022-11-14 23:46] Snowflake6 opened #649 "ddvk-hacks doesn't re-start after update"
After updating from 2.1.14.something to 2.1.15.latest, ran toltecctl reenable to get everything going again.  Unfortunately, ddvk-hacks was not applied.  It was necessary to remove remarkable-stylus, remove ddvk-hacks, then re-install ddvk-hacks, and re-ininstall remarkable-stylus, in order to get the xochitl binary updated.

Sorry, logs not kept.  This was the same situation after the last 2.1.14

[2022-11-15 01:38] matteodelabre commented on #649
Seems like expected (yet unwanted) behavior, as ddvk-hacks does not install anything in /opt? (#539)

[2022-11-15 01:49] Eeems commented on #649
If that's all it is, there is an easy solution someone just needs to open a pr to apply that kernelctl already does.

[2022-11-15 19:01] Snowflake6 commented on #649
toltecctl reenable seems to go through and install a number of packages, one of which is ddvk-hacks... But ddvk-hacks appears to fail when run via toltecctl reenable.  Is that expected?

[2022-11-15 19:26] matteodelabre commented on #649
Are there any logs when it fails?

[2022-11-15 19:40] Snowflake6 commented on #649
I didn't notice the failure until after the reboot so I don't know.  Can I pull those logs somehow after-the-fact?

Actually, looking at #539 again it's probably the same issue... I don't explicitly remember it trying to re-install ddvk-hacks when I did the reenable this time, but the behaviour was identical... I had to remove remarkable-stylus, remove ddvk-hacks, re-install ddvk-hacks, and re-ins

[2022-11-16 07:27] alistair23 opened #650 "Unable to build packages `assert next_token == "("`"
When trying to build any toltec package I am seeing this error:

[code]

It doesn't matter what package I build, I see the same error.

[code]

[code]

[2022-11-16 13:46] Eeems commented on #650
Have you tried with python 3.8
https://github.com/toltec-dev/toltec/blob/stable/.github/workflows/pr.yml#L31

[2022-11-16 15:08] matteodelabre commented on #650
I think this has more to do with the bash version, since the error is coming from the bash “parser”. It works on my computer running Bash 5.1.16, perhaps they changed their output format in 5.2.2? @alistair23 Could you add a `print(declarations)` after line 123 of `scripts/toltec/bash.py` and give us some of the output? I get the following output for one recipe:

[code]

[2022-11-17 09:49] alistair23 commented on #650
This is the output

[code]

with this diff applied:

[code]

[2022-11-17 15:21] matteodelabre commented on #650
Thanks! After some investigation, the problem seems to stem from the way the `IFS` variable contents are printed by bash. Our primitive parser doesn’t know how to handle [C-quoted strings](https://www.gnu.org/software/bash/manual/html_node/ANSI_002dC-Quoting.html), i.e., string literals that have a $ sign in front of them.

[2022-11-20 20:19] klettervirus opened #652 "Installing and uninstalling seemingly not possible"
I tried to install toltec, but obviously did that before some years ago. On my rm1. Software Version 2.7.0.51
The following happens, when I 1) try to install it and 2) try to remove it:

[code]
Can someone please point me to a way to remove any residue from previous installs so I can get a new clean install? Sorry, my Linux knowledge is only tiny, I can use a command line, but have no idea how to

[2022-11-21 04:47] matteodelabre commented on #553
Solved by #641.

[2022-11-21 04:47] #553 closed, assigned to nobody

[2022-11-21 21:51] matteodelabre commented on #652
I’m moving this to the discussions forum.

[2022-11-21 21:52] #652 closed, assigned to nobody

[2022-11-21 21:54] #647 closed, assigned to nobody

[2022-11-21 22:01] matteodelabre commented on #638
We should replace [the call to `systemctl disable --now remux` in preremove](https://github.com/toltec-dev/toltec/blob/ed897b71dd66a1b3fae6dfe54d8a87949483e5d2/package/rmkit/package#L72) with something similar to what is done for tarnish.
https://github.com/toltec-dev/toltec/blob/ed897b71dd66a1b3fae6dfe54d8a87949483e5d2/package/oxide/package#L100-L107
This should probably be made into a command in

[2022-11-21 22:03] #618 closed, assigned to nobody

[2022-11-26 18:25] matteodelabre commented on #650
[shfmt’s upcoming 3.6.0 release](https://github.com/mvdan/sh/blob/436da662a80b2783faae86662b03646e533b9bee/CHANGELOG.md#360---2022--) will include both a way to build an AST for a Bash program (`--to-json`), and a way to generate a Bash program from an AST (`--from-json`). I think I’ll replace our primitive parser with that.